# Lobe
APP_URL=http://192.168.1.22:3210

# PostgreSQL
LOBE_DB_NAME=lobechat
POSTGRES_PASSWORD=MY_POSTGRES_PASSWORD

# Secrets
KEY_VAULTS_SECRET=MY_KEY_VAULTS_SECRET
AUTH_SECRET=MY_AUTH_SECRET

# Ollama
OLLAMA_PROXY_URL=http://ollama:11434
OLLAMA_ORIGINS=http://192.168.1.22:3210

# RustFS
RUSTFS_ACCESS_KEY=MY_RUSTFS_ACCESS_KEY
RUSTFS_SECRET_KEY=MY_RUSTFS_SECRET_KEY
RUSTFS_CORS_ALLOWED_ORIGINS=http://192.168.1.22:3210

# Your browser has to reach this
S3_ENDPOINT=http://192.168.1.22:9000
S3_PUBLIC_DOMAIN=http://192.168.1.22:9000

# OpenAI
OPENAI_API_KEY=MY_OPENAPI_KEY
OPENAI_PROXY_URL=https://api.openai.com/v1

# Time in minutes to keep the model in VRAM after idle
OLLAMA_KEEP_ALIVE=2m
